<template>
  <aside class="sr-filter-sidebar column">
    <h1>Filters:</h1>
    <h4>City:</h4>
    <select
      class="sr-select"
      :value="selectedCity"
      @change="citySelected">
      <option v-for="city in cities" :value="city">
        {{ city }}
      </option>
    </select>
    <h4>Property Type:</h4>
    <select
      class="sr-select"
      :value="selectedPropertyType"
      @change="propertyTypeSelected">
      <option v-for="propertyType in propertyTypes" :value="propertyType">
        {{ propertyType }}
      </option>
    </select>
    <h4>Sort by price:</h4>
    <select
      class="sr-select"
      :value="selectedSortPrice"
      @change="sortPriceOptionSelected">
      <option v-for="sortPriceOption in sortPriceOptions" :value="sortPriceOption">
        {{ sortPriceOption }}
      </option>
    </select>
    <button class="sr-home-card-description__btn sr-home-card-description__btn--primary" @click="downloadJson">Download JSON</button>
  </aside>
</template>

<script>
export default {
  props: ['cities', 'selectedCity', 'propertyTypes', 'selectedPropertyType', 'sortPriceOptions', 'selectedSortPrice'],
  methods: {
    citySelected (event) {
      const city = event.target.value;
      this.$emit('city-selected', city);
    },
    propertyTypeSelected (event) {
      const property = event.target.value;
      this.$emit('property-option-selected', property);
    },
    sortPriceOptionSelected (event) {
      const sortOption = event.target.value;
      this.$emit('sort-price-option-selected', sortOption);
    },
    downloadJson () {
      this.$emit('download-json');
    },
  },
}
</script>

<style lang="less" rel="stylesheet/less">
  @primary-dark: #146A21;
  @primary: #3E8F32;
  @secondary: #F19319;
  @secondary-light: #FED104;
  @secondary-dark: #AB660F;
  @gray-dark: #333333;
  @gray: #A3A3A3;
  @gray-light: #D2D2D2;

  .sr-filter-sidebar {
    background: @gray-dark;
    color: white;
    flex: 0 0 auto;
    width: 20%;
    padding: 10px;
  }

  .sr-select {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

</style>
