<template>
  <header class="sr-main-header row">
    <img class="sr-main-header__logo" src="../assets/logo.png" alt="spot a room logo" @click="showMainSection">
    <div class="sr-main-header-nav row">
      <a class="sr-main-header-nav__link sr-main-header-nav__company" @click="showCompanySection">La compañía</a>
      <a class="sr-main-header-nav__link sr-main-header-nav__how-we-work" @click="showHoWeWorkSection">Cómo trabajamos</a>
      <a class="sr-main-header-nav__link sr-main-header-nav__about-us" @click="showAboutUsSection">Sobre nosotros</a>
    </div>
  </header>
</template>

<script>
export default {
  methods: {
    showMainSection () {
      this.$emit('show-main-section');
    },
    showCompanySection () {
      this.$emit('show-company-section');
    },
    showHoWeWorkSection () {
      this.$emit('show-how-we-work-section');
    },
    showAboutUsSection () {
      this.$emit('show-about-us-section');
    },
  },
}
</script>

<style lang="less" rel="stylesheet/less">
  @primary-dark: #146A21;
  @primary: #3E8F32;
  @secondary: #F19319;
  @secondary-light: #FED104;
  @secondary-dark: #AB660F;
  @gray-dark: #333333;
  @gray: #A3A3A3;
  @gray-light: #D2D2D2;

  .sr-main-header {
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    &__logo {
      cursor: pointer;
      flex-grow: 1;
      width: 150px;
      height: auto;
     }
  }

  .sr-main-header-nav {
    flex-grow: 4;
    justify-content: flex-end;
    padding-right: 20px;

    &__link {
      color: @secondary;
      text-decoration: underline;
      cursor: pointer;
    }

    &__company, &__how-we-work {
      padding-right: 10px;
    }
  }

</style>
