<template>
  <div class="sr-home-card-detail column">
    <img class="sr-home-card-detail__image" :src="homeCard.mainPhotoUrl" alt="property photo">
    <div class="sr-home-card-detail-description column">
      <h1> Descripción </h1>
      <p class="sr-home-card-detail-description__title">{{ homeCard.title }}</p>
      <div class="sr-home-card-detail__information">
        <h1>Datos sobre la propiedad</h1>
        <span>{{ homeCard.type }}</span>
        <p class="sr-home-card-detail-description__price-per-month">{{ homeCard.pricePerMonth }}<span class="sr-home-card-description__currency-symbol">{{ homeCard.currencySymbol }}</span></p>
        <span v-if="homeCard.sharedRoom"><i class="fab fa-slideshare"></i> Shared Room</span>
        <span v-if="homeCard.checked"><i class="fas fa-check"></i> Checked</span>
        <span v-if="homeCard.favorite"><i class="fas fa-heart"></i> Favorite</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['homeCard'],
  methods: {
    showHomeCardDetails (homeCard) {
      this.$emit('show-home-card-section', homeCard);
    },
  },
}
</script>

<style lang="less" rel="stylesheet/less">
  @primary-dark: #146A21;
  @primary: #3E8F32;
  @secondary: #F19319;
  @secondary-light: #FED104;
  @secondary-dark: #AB660F;
  @gray-dark: #333333;
  @gray: #A3A3A3;
  @gray-lighter: #D2D2D2;

  .sr-home-card-detail {
    width: 100%;
    &__image {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    &__information {
      margin-top: 20px;
    }
  }

  .sr-home-card-detail-description {
    padding: 20px;
    align-items: flex-start;
    &__price-per-month {
      font-family: 'Luckiest Guy', cursive;
      background-color: black;
      border-radius: 5px;
      padding: 5px;
      color: @secondary-light;
      display: inline-block;
    }

    &__currency_symbol {
      font-size: 0.8rem;
    }
  }
</style>
