<template>
  <div class="sr-home-card row">
    <img class="sr-home-card__image" :src="homeCard.mainPhotoUrl" alt="property photo">
    <div class="sr-home-card-description column">
      <p class="sr-home-card-description__title">{{ homeCard.title }}</p>
      <p class="sr-home-card-description__price-per-month">{{ homeCard.pricePerMonth }}<span class="sr-home-card-description__currency-symbol">{{ homeCard.currencySymbol }}</span></p>
      <button class="sr-home-card-description__btn sr-home-card-description__btn--secondary" @click="showHomeCardDetails(homeCard)">More Details</button>
      <button class="sr-home-card-description__btn sr-home-card-description__btn--primary" @click="book(homeCard)">Book Now</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['homeCard'],
  methods: {
    showHomeCardDetails (homeCard) {
      this.$emit('show-home-card-section', homeCard);
    },
    book (homeCard) {
      this.$emit('home-card-booked', homeCard)
    },
  },
}
</script>

<style lang="less" rel="stylesheet/less">
  @primary-dark: #146A21;
  @primary: #3E8F32;
  @secondary: #F19319;
  @secondary-light: #FED104;
  @secondary-dark: #AB660F;
  @gray-dark: #333333;
  @gray: #A3A3A3;
  @gray-lighter: #D2D2D2;

  .sr-home-card {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex: 1;
    height: 200px;

    &__image {
      max-width: 250px;
      height: auto;
      -webkit-transition: all .8s ease-in-out;
      &:hover {
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transform: scale(1.01);
      }
    }
  }

  .sr-home-card-description {
    padding: 20px;
    align-items: flex-start;
    &__price-per-month {
      font-family: 'Luckiest Guy', cursive;
      background-color: black;
      border-radius: 5px;
      padding: 5px;
      color: @secondary-light;
      display: inline-flex;
    }

    &__currency_symbol {
      font-size: 0.8rem;
    }

    &__btn {
      display: inline-block;
      font-size: 1rem;
      color: white;
      padding: 10px;
      font-family: 'Luckiest Guy', cursive;
      border: none;
      cursor: pointer;
    }

    &__btn--primary {
      background-color: @primary;
      border-bottom: 2px solid @primary-dark;
    }

    &__btn--secondary {
      background-color: @secondary;
      border-bottom: 2px solid @secondary-dark;
    }
  }
</style>
