<template>
  <div id="sr-main">
    <sr-header
      @show-main-section="showMainSection"
      @show-company-section="showCompanySection"
      @show-how-we-work-section="showHoWeWorkSection"
      @show-about-us-section="showAboutUsSection"
      >
    </sr-header>

    <div class="row" v-show="showSection === 'main'">
      <sr-filters-sidebar
        :cities="cities"
        :selected-city="selectedCity"
        :property-types="propertyTypesOptions"
        :selected-property-type="selectedPropertyType"
        :sort-price-options="sortPriceOptions"
        :selected-sort-price="selectedSortPrice"
        @city-selected="citySelected"
        @property-option-selected="propertyOptionSelected"
        @sort-price-option-selected="sortPriceOptionSelected"
        @download-json="downloadJSON"
      ></sr-filters-sidebar>
      <main class="sr-properties">
        <div class="sr-spinner row" v-if="fetchingData">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
        <ul class="sr-properties-list" v-else>
          <li class="sr-properties-list-item" v-for="homeCard in homeCards" :key="homeCard.id">
            <sr-home-card
              :home-card="homeCard"
              @show-home-card-section="showHomeCardSection"
              @home-card-booked="homeCardBooked">
            </sr-home-card>
          </li>
        </ul>
      </main>
    </div>

    <div class="row" v-if="showSection === 'homeCard'">
      <sr-home-card-details :home-card="selectedHomeCard"></sr-home-card-details>
    </div>

    <div class="column section" v-if="showSection === 'company'">
      <h1>¿QUÉ HACE DIFERENTE A SPOTAROOM?</h1>

      <p>Spotaroom simplifica el proceso de búsqueda de alojamiento a nivel global y se dedica, exclusivamente, a
        gestionar el alquiler de propiedades para estancias de media y larga duración. Una plataforma de reservas 100%
        online que ofrece el catálogo más completo de pisos, apartamentos, estudios, habitaciones y residencias de
        estudiantes. Accesible para todo el mundo, con independencia de su edad o categoría profesional.</p>
      <br>
      <p>El funcionamiento de Spotaroom elimina por completo las visitas en persona a las propiedades, ahorrando tiempo
        y dinero tanto a inquilinos como a propietarios. Esto es posible a través de los reportajes fotográficos en alta
        calidad de cada propiedad, los planos a escala y los videos en alta definición que muestran todos los detalles
        de las propiedades en alquiler, así como del barrio en el que se encuentra y de su área de influencia.</p>
      <br>
      <p>El equipo de Spotaroom es multilingüe y juega un papel clave, ya que elimina cualquier barrera de comunicación
        o idiomática: Facilita la comunicación entre propietarios e inquilinos que no hablan el mismo idioma y, su
        servicio de atención al cliente atiende las dudas de cada uno de ellos, en el idioma que se sientan más
        cómodos.</p>
    </div>

    <div class="column section" v-if="showSection === 'work'">
      <h1>¿Cómo trabajamos?</h1>
      <p> En spotaroom usamos los más avanzados procesos de machine learning para construir una solución de alquileres
        basada en Big data. Somos capaces de adelantarnos a las necesidades del mercado y poner en alquiler una estancia
        incluso antes de que el propietario haya decidido hacerlo. Esto lo conseguimos identificando al inquilino perfecto.
      </p>
      <p>No dejamos escapar niguna oportunidad y esto hace que tengamos un 100% de valoración por los propietarios e
      inquilinos que usan nuestra plataforma.</p>
    </div>

    <div class="column section" v-if="showSection === 'about'">
      <h1>Sobre nosotros</h1>
      <img class="sr-img--rounded" src="http://therealpablors.com/img/avatar.jpg"/>
      <p>Mi nombre es Pablo Rodríguez Sánchez. Puedes seguirme en
        <a href="http://twitter.com/therealpablors" target="_blank">twitter</a>, leerme en
        <a href="https://medium.com/@therealpablors">Medium</a>, o saber algo más sobre mi trayectoria profesional en
        <a href="http://therealpablors.com">mi web</a>
      </p>
      <br>
      <p>Esta aplicación es una prueba para el puesto de programador Frontend en spotahome. Espero que te haya gustado.</p>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';
  import _ from 'lodash';

  import SrHeader from './components/SrHeader'
  import SrFiltersSidebar from './components/SrFiltersSidebar'
  import SrHomeCard from './components/SrHomeCard'
  import SrHomeCardDetails from './components/SrHomeCardDetails'

  import {ENDPOINT} from './spotaroomAPI';

  const DEFAULTS = {
    city: 'madrid',
    sortOption: 'ascending',
    propertyType: 'all',
    maxMarkersIdsInQueryString: 30,
    showSection: 'main',
  };

  export default {
    name: 'App',
    components: {
      SrHeader,
      SrFiltersSidebar,
      SrHomeCard,
      SrHomeCardDetails,
    },
    data () {
      return {
        ENDPOINT,
        DEFAULTS,
        cities: ['london', 'barcelona', 'madrid'],
        selectedCity: DEFAULTS.city,
        selectedPropertyType: DEFAULTS.propertyType,
        selectedSortPrice: DEFAULTS.sortOption, // default value is ascending
        propertyTypesOptions: ['all', 'apartments', 'rooms', 'studios', 'residences'],
        sortPriceOptions: ['ascending', 'descending'],
        homeCards: [],
        showSection: DEFAULTS.showSection,
        selectedHomeCard: null,
      };
    },
    methods: {
      fetchHomeCards (isFilterByPropertyType = false) {
        this.homeCards = [];
        const that = this;
        if (isFilterByPropertyType && this.selectedPropertyType !== 'all') {
          this.getListOfPropertiesByCityAndPropertyType()
            .then(function (response) {
              const markers = response.data.data;
              that.getRetrieveDetailedInformation(markers)
                .then(function (response) {
                  that.orderHomeCardsBySelectedSortPriceOption.call(that, response.data.data.homecards);
                });
            });
        }
        else {
          this.getListOfPropertiesByCity()
            .then(function (response) {
              const markers = response.data.data;
              that.getRetrieveDetailedInformation(markers)
                .then(function (response) {
                  that.orderHomeCardsBySelectedSortPriceOption.call(that, response.data.data.homecards);
                });
            });
        }
      },
      fetchHomeCardsByPropertyType () {
        const isFilterByPropertyType = true;
        this.fetchHomeCards(isFilterByPropertyType);
      },
      getListOfPropertiesByCity () {
        const endpoint = this.ENDPOINT.propertiesByCity.url;
        const verb = this.ENDPOINT.propertiesByCity.verb;
        return axios[verb](`${endpoint}/${this.selectedCity}`);
      },
      getListOfPropertiesByCityAndPropertyType () {
        const endpoint = this.ENDPOINT.propertiesByCity.url;
        const verb = this.ENDPOINT.propertiesByCity.verb;
        return axios[verb](`${endpoint}/${this.selectedCity}?type[]=${this.selectedPropertyType}`);
      },
      getRetrieveDetailedInformation (markers) {
        const ids = markers.map(function (marker) {
          return marker.id;
        });
        const endpoint = this.ENDPOINT.propertiesDetailedInformation.url;
        const verb = this.ENDPOINT.propertiesDetailedInformation.verb;
        const request = {
          params: {
            // The interface will show only the first 30 elements of the list
            ids: ids.slice(0, this.DEFAULTS.maxMarkersIdsInQueryString),
          },
        };
        return axios[verb](endpoint, request);
      },
      citySelected (city) {
        this.selectedCity = city;
      },
      propertyOptionSelected (property) {
        this.selectedPropertyType = property;
      },
      sortPriceOptionSelected (sortPriceOption) {
        this.selectedSortPrice = sortPriceOption;
      },
      orderHomeCardsBySelectedSortPriceOption (homeCards) {
        this.homeCards = _.orderBy(homeCards, ['pricePerMonth'], [(this.selectedSortPrice === 'ascending') ? 'asc' : 'desc']);
      },
      showMainSection () {
        this.showSection = 'main';
      },
      showCompanySection () {
        this.showSection = 'company';
      },
      showHoWeWorkSection () {
        this.showSection = 'work';
      },
      showAboutUsSection () {
        this.showSection = 'about';
      },
      showHomeCardSection (homeCard) {
        this.showSection = 'homeCard';
        this.selectedHomeCard = homeCard;
      },
      homeCardBooked (homeCard) {
        alert(`Reserva realizada para ${homeCard.title}`);
      },
      downloadJSON () {
        let data = `text/json;charset=utf-8,'${encodeURIComponent(JSON.stringify(this.homeCards, 0, 4))}`;
        let link = document.createElement('a');
        link.href = `data:${data}`;
        link.download = 'homeCards.json';
        link.innerHTML = '';
        link.click();
        link.remove();
      }
    },
    computed: {
      fetchingData () {
        return this.homeCards.length === 0;
      }
    },
    watch: {
      selectedCity () {
        this.fetchHomeCards();
      },
      selectedPropertyType () {
        this.fetchHomeCardsByPropertyType();
      },
      selectedSortPrice () {
        if (this.homeCards.length > 0) {
          this.orderHomeCardsBySelectedSortPriceOption(this.homeCards);
        }
      }
    },
    created () {
      this.fetchHomeCards();
    },
  }
</script>

<style lang="less" rel="stylesheet/less">
  @primary-dark: #146A21;
  @primary: #3E8F32;
  @secondary: #F19319;
  @secondary-light: #FED104;
  @secondary-dark: #AB660F;
  @gray-dark: #333333;
  @gray: #A3A3A3;
  @gray-light: #D2D2D2;


  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 20px;
    background-color: @gray;
  }

  a {
    color: @secondary;
    text-decoration: underline;
    cursor: pointer;
  }

  h1, h2, h3, h4 {
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 15px;
  }
  .row, .content {
    flex: 1 1 auto;
    display: flex;
  }

  .section {
    padding: 10px;
  }

  #sr-main {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    width: 990px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: white;

    .sr-img {
      &--rounded {
        border-radius: 100px;
      }
    }

    .sr-properties {
      overflow: hidden;
      overflow-y: auto;
      width: 100%;
    }

    .sr-properties-list-item {
      list-style: none;
      &:nth-child(odd) {
        background-color: @gray-light;
      }
      &:nth-child(even) {
        background-color: white;
      }
    }

    .sr-spinner {
      font-size: 4em;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
</style>
